<div class="Regions">
    <div class="content" style="background-color:lightgray">
        <div class="panel-header">
        </div>
        <div class="row DataSet" style="height:100%">
            <add-Center v-if="state==1" class="zoomIn"></add-Center>
            <update-Center v-if="state==2" class="zoomIn"></update-Center>
            <div class="col-md-12 zoomIn" v-if="state==0">
                <div class="card cardRTL">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-2"> <h4 class="card-title">المراكز</h4></div>
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-2">  <button class="btn btn-primary" @click.prevent="AddConstituencyComponent()">إضافة مركز</button></div>
                        </div>
                    </div>
                    <div class="card-body" v-loading="loading">
                        <div class="toolbar">
                        </div>
                        <el-alert title="لاتــوجد بيانات للمراكز"
                                  type="warning" v-if="centers.length==0">
                        </el-alert>

                        <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%" v-if="centers.length!=0">
                            <thead>
                                <tr>
                                    <th>اسم المركز (عربي)</th>
                                    <th>اسم المركز (انجليزي)</th>
                                    <th>المنطقة الفرعية</th>
                                    <th>تاريخ الانشاء</th>
                                    <th class="disabled-sorting text-right">العمليات</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>اسم المنطقة (عربي)</th>
                                    <th>اسم المنطقة (انجليزي)</th>
                                    <th>المنطقة</th>
                                    <th>تاريخ الانشاء</th>
                                    <th class="disabled-sorting text-right">العمليات</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr v-for="R in centers">
                                    <td>{{R.arabicName}}</td>
                                    <td>{{R.englishName}}</td>
                                    <td>{{R.constituencyDetailName}}</td>
                                    <td>{{R.createdOn | moment}}</td>
                                    <td class="text-left">

                                        <a href="#" title="تعديل بيانات المنطقة" @click.prevent="UpdateCenterComponent(R.centerId)">
                                            <i class="fa fa-pencil-alt"></i>
                                        </a>
                                        <a href="#" title="مسح المركز" @click.prevent="Delete(R.centerId)">
                                            <i class="fa fa-user-slash"></i>
                                        </a>

                                    </td>



                                    <!--<td>
                                <span v-if="P.profileType==1">الانتخابات الرئيسية</span>
                                <span v-if="P.profileType==2">انتخابات النواب</span>
                                <span v-if="P.profileType==3">انتخابات التشريعية</span>
                                <span v-if="P.profileType==4">الإستفتئات</span>
                            </td>-->
                                    <!--<td>{{P.startDate | moment}}</td>
                            <td>{{P.endDate | moment}}</td>-->
                                    <!--<td class="text-right">
                                <a href="#" v-if="P.isActivate==1" @click.prevent="Deactivate(P.profileId)" title="إلغاء تفعيل الملف الانتخابي">
                                    <i class="fas fa-lightbulb fa-On"></i>
                                </a>
                                <a href="#" v-if="P.isActivate==0" @click.prevent="Activate(P.profileId)" title="تفعيل الملف الانتخابي">
                                    <i class="fas fa-lightbulb fa-off"></i>
                                </a>
                                <a href="#" v-if="P.status==2" @click.prevent="PlayProfile(P.profileId)" title="تشغيل الملف الانتخابي">
                                    <i class="fas fa-play-circle"></i>
                                </a>
                                <a href="#" v-if="P.status==1" @click.prevent="PauseProfile(P.profileId)" title="إيقاف الملف الانتخابي">
                                    <i class="fas fa-pause-circle"></i>
                                </a>
                            </td>-->
                                </tr>

                            </tbody>

                        </table>


                        <div style="text-align: center;padding-bottom:11px" v-if="centers!=0">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-primary">
                                    <el-pagination background
                                                   layout="prev, pager, next"
                                                   :current-page="pageNo"
                                                   :page-size="pageSize"
                                                   :total="pages"
                                                   @current-change="GetCenters($event)">
                                    </el-pagination>
                                </ul>
                            </nav>
                        </div>

                    </div><!-- end content-->
                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
    </div>


</div>
