
.info {
    text-align: right !important;
}


.Dashboard p {
    font-size: 18px;
}

.Dashboard span {
    font-size: 14px;
}

.sidebar-wrapper {
    overflow: hidden !important;
}

.simple-text {
    text-align: right !important;
}


