<div class="Regions">
    
    <div class="content" style="background-color:lightgray" >
        <div class="panel-header">
        </div>
        <div class="row DataSet" style="height:100%">
            <AddEntities class="zoomIn" v-if="state==1"></AddEntities>
            <AddCandidates class="zoomIn" v-if="state==2"></AddCandidates>
            <!--<add-Candidates v-if="state==1" class="zoomIn"></add-Candidates>
    <update-Candidates v-if="state==2" class="zoomIn"></update-Candidates>-->
            <div class="col-md-12 zoomIn" v-if="state==0">
                <div class="card cardRTL">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-2"> <h4 class="card-title">الـكيانات</h4></div>
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-2">  <button class="btn btn-primary" @click.prevent="AddEntitesComponent()">إضافة كيـان</button></div>
                        </div>
                    </div>

                    <div class="card-body" v-loading="loading">
                        <div class="toolbar">
                        </div>
                        <el-alert title="لاتــوجد بيانات للكيـانات"
                                  type="warning" v-if="Entites==0">
                        </el-alert>

                        <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%" v-if="Entites!=0">
                            <thead>
                                <tr>
                                    <th>اسم الكيان</th>
                                    <th>رقم الكيان</th>
                                    <th>معلومات</th>
                                    <th>رقم الهاتف</th>
                                    <th>الـمالك</th>
                                    <th>البريد الالكتروني</th>
                                    <th> العنوان</th>
                                    <th class="disabled-sorting text-right">العمليات</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>اسم الكيان</th>
                                    <th>رقم الكيان</th>
                                    <th>معلومات</th>
                                    <th>رقم الهاتف</th>
                                    <th>الـمالك</th>
                                    <th>البريد الالكتروني</th>
                                    <th> العنوان</th>
                                    <th class="disabled-sorting text-right">العمليات</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr v-for="E in Entites">
                                    <td>{{E.name}}</td>
                                    <td>{{E.number}}</td>
                                    <td>{{E.descriptions}}</td>
                                    <td>{{E.phone}}</td>
                                    <td>{{E.owner}}</td>
                                    <td>{{E.email}}</td>
                                    <td>{{E.address}}</td>
                                    <td class="text-right">
                                        <a href="#" title="اضافة مرشحين" @click="AddCandidate(Entites.entityId)">
                                            <i class="fas fa-user-check"></i>
                                        </a>
                                        <a href="#" title="اضافة ممثلين">
                                            <i class="fas fa-user-tie"></i>
                                        </a>
                                        <a href="#" title="اضافة مستخدمين">
                                            <i class="fas fa-users"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div style="text-align: center;padding-bottom:11px">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-primary">
                                    <el-pagination background
                                                   layout="prev, pager, next"
                                                   :current-page="pageNo"
                                                   :page-size="pageSize"
                                                   :total="pages"
                                                   @current-change="GetEntities($event)">
                                    </el-pagination>
                                </ul>
                            </nav>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>


</div>
