 <div class="col-md-12">
   <div class="card cardRTL">
       <div class="card-header">
           <div class="row">
               <div class="col-md-2"></div>
               <div class="col-md-8">
                   <ul class="nav nav-pills nav-pills-primary" role="tablist">
                       <li class="nav-item">
                           <a class="nav-link active" data-toggle="tab" href="" role="tablist" aria-expanded="true">
                               الرقم الوطني
                           </a>
                       </li>
                       <li class="nav-item" style="cursor: context-menu">
                           <a class="nav-link" disabled>
                               جهات الإتصال
                           </a>
                       </li>
                       <li class="nav-item" style="cursor: context-menu">
                           <a class="nav-link" disabled>
                               بيانات الناخب
                           </a>
                       </li>

                       <li class="nav-item" style="cursor: context-menu">
                           <a class="nav-link" disabled>
                               وثائق الناخب
                           </a>
                       </li>
                       <li class="nav-item" style="cursor: context-menu">
                           <a class="nav-link" disabled>
                               إكمال العملية
                           </a>
                       </li>
                   </ul>
               </div>
               <div class="col-md-2"></div>
           </div>
       </div>
       <div class="card-header">
           <div class="row">
               <div class="col-md-4">
                   <h4 class="card-title">إضافة ناخب</h4>
               </div>
               <div class="col-md-4">

               </div>
               <div class="col-md-4">

               </div>
           </div>
           <div class="row">
               <div class="col-md-12">
                   <el-form :model="ruleForm" :rules="rules" ref="ruleForm"  class="demo-ruleForm">
                       <div class="row">
                           <div class="col-md-9">
                               <el-form-item prop="natialId">
                                   <label>الرقم الوطني</label>
                                   <div class="form-group">
                                       <el-input placeholder="الرقم الوطني" v-model="ruleForm.nationalId" ></el-input>
                                   </div>
                               </el-form-item>
                           </div>
                           <div class="col-md-3">
                               <el-form-item>
                                   <br />
                                   <button class="btn-primary btn" @click.prevent="submitForm('ruleForm')">تسجيل</button>
                               </el-form-item>
                           </div>

                       </div>
                   </el-form>

               </div>

           </div>

       </div>
       <div class="card-body">
           <div class="toolbar">
               
            </div>
        </div>
    </div>
</div> 
