<div class="col-md-12">
    <div class="card cardRTL">
        <div class="card-header">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="card-title">إضافة ملف إنتخابي </h4>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-2">
                    <button class="btn" @click.prevent="Back()">
                        <span class="btn-label">
                            <i class="now-ui-icons arrows-1_minimal-left"></i>
                        </span>
                        رجـوع
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label- class="demo-ruleForm">
                        <div class="row">
                            <div class="col-md-6">
                                <el-form-item prop="ProfileType">
                                    <label>نوع الانتخابات</label>
                                    <div class="form-group">
                                        <el-select v-model="ruleForm.ProfileType" placeholder="اختر نوع الانتخابات">
                                            <el-option v-for="item in [{id:1,name:'الانتخابات الرئيسية'},{id:2,name:'انتخابات البرلمانية'}]"
                                                       :key="item.id"
                                                       :label="item.name"
                                                       :value="item.id">
                                            </el-option>
                                        </el-select>
                                    </div>
                                </el-form-item>
                            </div>
                            <div class="col-md-6">
                                <el-form-item prop="name">
                                    <label>الملف الإنتـخابي</label>
                                    <div class="form-group">
                                        <el-input placeholder="إدخل الملف الإنتخابي" v-model="ruleForm.name"></el-input>
                                    </div>
                                </el-form-item>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <el-form-item prop="StartDate">
                                    <label>تاريخ البداية</label>
                                    <div class="form-group">
                                        <div class="block">
                                            <el-date-picker v-model="ruleForm.StartDate"
                                                            type="date"
                                                            placeholder="اختر تاريخ البداية">
                                            </el-date-picker>
                                        </div>
                                    </div>
                                </el-form-item>
                            </div>
                            <div class="col-md-6">
                                <el-form-item prop="EndDate">
                                    <label>تاريخ النهاية</label>
                                    <div class="form-group">
                                        <div class="block">
                                            <el-date-picker v-model="ruleForm.EndDate"
                                                            type="date"
                                                            placeholder="اختر تاريخ النهاية">
                                            </el-date-picker>
                                        </div>
                                    </div>
                                </el-form-item>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <el-form-item prop="Endorsements">
                                    <label>عدد المزكين</label>
                                    <div class="form-group">
                                        <el-input-number :min="10" placeholder="عدد المزكين" number  v-model="ruleForm.Endorsements"></el-input-number>
                                    </div>
                                </el-form-item>
                            </div>
                            <div class="col-md-6">
                                <el-form-item prop="Age">
                                    <label>عمر المترشح</label>
                                    <div class="form-group">
                                       
                                        <el-input-number :min="18" placeholder="عمر المترشح" v-model="ruleForm.Age"></el-input-number>
                                    </div>
                                </el-form-item>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <el-form-item>
                                    <label>معلومـات</label>
                                    <div class="form-group">
                                        <el-input type="textarea"
                                                  placeholder="ادخل معلومات عن الملف الانتخابي"
                                                  v-model="ruleForm.Description"
                                                  maxlength="600">
                                        </el-input>
                                    </div>
                                </el-form-item>
                            </div>
                        </div>

                        <div class="">

                        </div>

                        <el-form-item class="AddButtonLeftSide">
                            <button class="btn btn-warning" @click.prevent="resetForm('ruleForm')">إلـغاء</button>
                            <button class="btn btn-primary" @click.prevent="submitForm('ruleForm')">حـفظ</button>
                        </el-form-item>
                    </el-form>

                </div>
               
            </div>

        </div>
        <div class="card-body">
            <div class="toolbar">
                <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
        </div><!-- end content-->
    </div><!--  end card  -->
</div> <!-- end col-md-12 -->